<table class="table table-striped">
    <thead>
    <tr>
        <th>Otsikko</th>
        <th>Viimeinen tarkastus</th>
        <th>Sisältömuutokset</th>
        <th>Linkki</th>
    </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.updated_at }}</td>
                <td>{{ post.modificationCount }}</td>
                <td><a href="{{ post.url }}" alt="{{ post.content }}" target="_blank">{{ post.url }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>