<table class="table table-striped">
    <thead>
    <tr>
        <th>Puolue</th>
        <th>Ehdokas</th>
        <th>Otsikko</th>
        <th>Linkki</th>
        <th>Tallennettu</th>
    </tr>
    </thead>
    <tbody>
        {% for row in result %}
            <tr>
                <td>{{ row.party }}</td>
                <td><a href="/site/{{ row.site }}/">{{ row.siteName }}</a></td>
                <td><a href="/diff/{{ row.post }}/">{{ row['title'] }}</a></td>
                <td><a href="{{ row.url }}" target="_blank">{{ row.url}}</a></td>
                <td>{{ row.storedAt |date('d.m.Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $( document ).ready(function() {
        var data = {{ chartData|raw }};
        var ctx = $('#searchResultChart').get(0).getContext('2d');
        var myPieChart = new Chart(ctx).Pie(data,{});
    });

</script>