<table class="table table-striped">
    <thead>
    <tr>
        <th>Sivusto</th>
        <th>Piiri</th>
        <th>Puolue</th>
        <th>Viimeinen tarkastus</th>
        <th>Linkki</th>
    </tr>
    </thead>
    <tbody>
        {% for site in sites %}
            <tr>
                <td><a href="/site/{{ site._id }}/">{{ site.name }}</a></td>
                <td><a hre="/a/{{ site.area }}"/>{{ site.area }}</a></td>
                <td><a hre="/a/{{ site.party }}"/>{{ site.party }}</a></td>
                <td>{{ site.updated_at }}</td>
                <td><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>